<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">daw</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li *ngIf="!isLoggedIn" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/login']">
                        <span class='glyphicon glyphicon-log-in'></span> Log In
                    </a>
                </li>
                <li *ngIf="!isLoggedIn" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/register']">
                        <span class='glyphicon glyphicon-user'></span> Register
                    </a>
                </li>
                <li *ngIf="isLoggedIn" >
                    <a (click)="logout()">
                        <span class='glyphicon glyphicon-log-out'></span> LogOut
                    </a>
                </li>
                <li *ngIf="isLoggedIn" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/ski']">
                        <span class='glyphicon glyphicon-thumbs-up'></span> Ski
                    </a>
                </li>
                <li *ngIf="isLoggedIn" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/skiPole']">
                        <span class='glyphicon glyphicon-thumbs-up'></span> Ski Pole
                    </a>
                </li>
                <li *ngIf="isLoggedIn" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/boot']">
                        <span class='glyphicon glyphicon-thumbs-up'></span> Boot
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
